{% extends "layout.html" %}
{% block title %}Buy{% endblock %}
{% block body %}
<div class="container" style="background: #DCEDC8; padding-top: 15px; padding-bottom: 15px; max-width: 500px;">
<form name="buy" action="/buy" method="POST">
    <label>Subject</label>
    <select name="subject" class="form-control">
        <option value="physics">Physics</option>
        <option value="maths">Maths</option>
        <option value="fcp">Fundamentals of Computer Pograming</option>
        <option value="electronics">Electronics</option>
    </select>
    <br>
    <label>Book</label>
    <input type="text" class="form-control" name="title" value="" placeholder="exact book title (optional)"/>
    <br/>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
{% endblock %}
