{% extends "layout.html" %}
{% block title %}Buy{% endblock %}
{% block body %}
<div class="container" style="background: #DCEDC8; padding-top: 15px; padding-bottom: 15px; max-width: 500px;">
  <h1>Your Sale</h1>
  <table class="table table-striped">
    <tbody>
      <thead class="thead-dark">
        <th>Subject</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Seller id</th>
        <th>hostel</th>
        <th>room num</th>
        <th>mob num</th>
        <th>Upload date</th>
      </thead>
      {% for row in rows %}
      <tr>
        <td>{{ row['subject'] }}</td>
        <td>{{ row['title'] }}</td>
        <td>{{ row['author'] }}</td>
        <td>{{ row['price'] }}</td>
        <td>{{ row['seller_clg_id'] }}</td>
        <td>{{ row['hostel'] }}</td>
        <td>{{ row['room_num'] }}</td>
        <td>{{ row['mob_num'] }}</td>
        <td>{{ row['upload_date'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
