<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <h1>Your Sale</h1>
  <table class="table table-striped">
    <tbody>
      <thead class="thead-dark">
        <th>Subject</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Seller id</th>
        <th>hostel</th>
        <th>room num</th>
        <th>mob num</th>
        <th>Upload date</th>
      </thead>
      {% for row in rows %}
      <tr>
        <td>{{ row['subject'] }}</td>
        <td>{{ row['title'] }}</td>
        <td>{{ row['author'] }}</td>
        <td>{{ row['price'] }}</td>
        <td>{{ row['seller_clg_id'] }}</td>
        <td>{{ row['hostel'] }}</td>
        <td>{{ row['room_num'] }}</td>
        <td>{{ row['mob_num'] }}</td>
        <td>{{ row['upload_date'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
