{% extends "layout.html" %}

{% block body %}
<div class="container" style="background: #DCEDC8; padding-top: 15px; padding-bottom: 15px; max-width: 500px;">
<div class="card" style="padding:15px;">
    <h2>SBI ATM</h2>
    <div>
      Cash: <font color="{{ colors[2] }}">{{ result[2]['stat'] }}</font>
      <br>
      last updated by: {{ result[2]['clg_id'] }} on {{ result[2]['upd_time'] }}
      <form action="/toggle/sbi_atm_cash" method="POST">
        <button type="submit" class="btn btn-primary">Toggle</button>
      </form>
    </div>
  </div>

  <div class="card" style="padding:15px;">
    <h2>DISPENSARY</h2>
    <div>
      Dispensary: <font color="{{ colors[0] }}">{{ result[0]['stat'] }}</font>
      <br>
      last updated by: {{ result[0]['clg_id'] }} on {{ result[0]['upd_time'] }}
      <form action="/toggle/dispensary" method="POST">
        <button type="submit" class="btn btn-primary">Toggle</button>
      </form>
    </div>

<br>
    <div>
      Doctor: <font color="{{ colors[1] }}">{{ result[1]['stat'] }}</font>
      <br>
      last updated by: {{ result[1]['clg_id'] }} on {{ result[1]['upd_time'] }}
      <form action="/toggle/disp_doc" method="POST">
        <button type="submit" class="btn btn-primary">Toggle</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
