body, html {
   margin: 0;
   padding-top: 25;
   background-color:darkgreen;
   background-repeat: no-repeat;
   background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));

}
.container{
    height:100%;
    width:100%;   
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    top:0;
    background-size:cover;
}

.card-container .card {
    max-width: 350px;
    padding: 40px 40px;
}
.container h1{
    text-align:center;
    color:darkgreen;
    font:sans-serif;
}
.card{
    height:auto;
    background-color: #F7F7F7;
    padding:20px 25px 80px;
    margin:0 10px;
    display:block;
    top:0;
    border-radius: 2px;
    box-shadow: 2px 2px gray;
}
.profile-img-card{
    width:100px;
    height:100px;
    border-radius:50px;
    margin: 0 auto 10px;
    display: block;
    
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
/*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
*/
    box-sizing: border-box;
}
.btn{
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    border-radius: 3px;
    border: none;
    color:white;
}
.btn:hover, .btn:focus, .btn:active{
    color:white;
    background-color: rgb(12, 97, 33);
}
.forget-password {
    color: rgb(104, 145, 162);
}

.forget-password:hover,
.forget-password:active,
.forget-password:focus{
    color: rgb(12, 97, 33);
}
.back-to-login {
    color: rgb(104, 145, 162);
}

.back-to-login:hover,back-to-login
.back-to-login:active,
.back-to-login:focus{
    color: rgb(12, 97, 33);
}
@media only screen and (min-width:450px){
    .card{
        height:70%;
        width:100%;
        display:table;
        margin:0 auto;
        max-width:350px;
    }
}
