<div style="background:#222;color:white;text-align:center;margin:0px;"><h3>My Campus Tracker!</h3></div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/buy">buy</a></li>
  <li><a href="/sell">sell</a></li>
  {% if session.logged_in %}
  <li style="float:right"><a href="/logout">logout</a></li>
  <li style="float:right"><a href="/my_sale">my sale</a></li>
  {% else %}
  <li style="float:right"><a href="/register">register</a></li>
  <li style="float:right"><a href="/login">login</a></li>
  {% endif %}
</ul>
