<!DOCTYPE html>
<html>
<head>

<title>{% block title %}{% endblock %}</title>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div style="background:#222;color:white;text-align:center;margin:0px;"><h3>My Campus Tracker!</h3></div>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/buy">buy</a></li>
  <li><a href="/sell">sell</a></li>
  {% if session.logged_in %}
  <li style="float:right"><a href="/logout">logout</a></li>
  <li style="float:right"><a href="/my_sale">my sale</a></li>
  {% else %}
  <li style="float:right"><a href="/register">register</a></li>
  <li style="float:right"><a href="/login">login</a></li>
  {% endif %}
</ul>

{% block body %}
{% endblock %}

</body>
</html>
