{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block body %}
<div class="container" style="background: #DCEDC8; padding-top: 15px; padding-bottom: 15px; max-width: 500px;">
  <form action="/sell" method="POST" name="sell">
      <label>Subject</label>
      <select name="subject" class="form-control">
          <option value="physics">Physics</option>
          <option value="maths">Maths</option>
          <option value="fcp">Fundamentals of Computer Pograming</option>
          <option value="electronics">Electronics</option>
      </select><br>
      <label>Book</label>
      <input type="text" name="title" class="form-control" placeholder="book title"/>
      <br>
      <label>Author</label>
      <input type="text" name="author" class="form-control" placeholder="author of book"/>
      <br>
      <label>Hostel</label>
      <select name="hostel" class="form-control">
        <option value="gajjar">gajjar</option>
        <option value="bhabha">bhabha</option>
        <option value="swami">swami</option>
        <option value="mtb">mtb</option>

      </select>
      <br>
          <label>Room number</label><br>
          <input type="text" class="form-control" name="room_num" placeholder="Your Room No"><br>
          <label>Contact</label><br>
          <input type="text" class="form-control" name="mob_num" placeholder="Your Contact Number"><br>
          <label>price</label>
          <input type="number" class="form-control" name="price" id="" placeholder="price" value="0"/>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
